<!DOCTYPE html>
@using System.Web.UI
@{
    string currentPage = (string)ViewContext.RouteData.Values["action"];
}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Canopy - @ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <script type="text/javascript" language="javascript" src="@Url.Content("~/Scripts/jquery-1.7.1.js")"></script>
    </head>
    <body>

        <!--header -->
<div id="header-wrap"><header>

 	<hgroup>
        <h1>@Html.ActionLink("The Canopy", "Index", "Home")</h1>
    </hgroup>

   <nav>
		<ul>
            @if (User.Identity.IsAuthenticated) {
                if (currentPage == "Jobbox") {<li id="current">@Html.ActionLink("Job box", "Index", "Home")<span></span></li>}
                else {<li>@Html.ActionLink("Job box", "Index", "Home")<span></span></li>}
            }
            else {
                if (currentPage == "Login") {<li id="current">@Html.ActionLink("Login", "Index", "Home")<span></span></li>}
                else {<li>@Html.ActionLink("Login", "Index", "Home")<span></span></li>}
            }
            @if (User.Identity.IsAuthenticated) {
    			if (currentPage == "Access") {<li id="current">@Html.ActionLink("My Profile", "Access", "Account")<span></span></li>}
                else {<li>@Html.ActionLink("My Profile", "Access", "Account")<span></span></li>}
            }
            @if (currentPage == "About") {<li id="current">@Html.ActionLink("About", "About", "Home")<span></span></li>}
            else {<li>@Html.ActionLink("About", "About", "Home")<span></span></li>}
			@if (currentPage == "Contact") {<li id="current">@Html.ActionLink("Contact", "Contact", "Home")<span></span></li>}
            else {<li>@Html.ActionLink("Contact", "Contact", "Home")<span></span></li>}
            @if (Canopy.Models.sysAdmin.CheckIfLoggedIn()) {
                if (currentPage == "ManageUsers") {<li id="current">@Html.ActionLink("System Administrator", "ManageUsers", "Account")<span></span></li>}
                else {<li>@Html.ActionLink("System Administrator", "ManageUsers", "Account")<span></span></li>}
            }
            @if (currentPage == "AdminLogin") {<li id="current">@Html.ActionLink("Administrators", "AdminLogin", "Account")<span></span></li>}
                
		</ul>
	</nav>

    @if (User.Identity.IsAuthenticated) {
    <div class="subscribe">
        @Html.Partial("_LoginPartial")
    </div>
    }

   <form id="quick-search" method="get" action="index.html">
          @if (currentPage != "Vacancy") {
      <fieldset class="search">
            <label for="qsearch">Search:</label>
            <input class="tbox" id="qsearch" type="text" name="qsearch" value="Search..." title="Start typing and hit ENTER" />
            <button class="btn" title="Submit Search">Search</button>
      </fieldset>
          }
          else {<div class="VMSButton" style="float: right"><a href="Javascript: window.close()">Close window</a></div>}

   </form>

<!--/header-->
</header></div>

        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper clear-fix">
                @RenderBody()
            </section>
        </div>
<!-- extra -->
<div id="extra-wrap"><div id="extra" class="clearfix">

	    <div class="col">
            <h3>Contact Info</h3>
		    <p style="border-top: 2px solid #808080">
		    <strong>Phone: </strong>+44(0)207 040 5224
		    </p>
		    <p><strong>Address: </strong>Chiswell St, London, EC1Y</p>
            <p><strong>E-mail: </strong><a href="mailto: info@canopytech.co.uk">info@canopytech.co.uk</a></p>
        </div>

        <div class="col center">
            <h3>Social</h3>

            <ul class="subscribe-stuff">
      	        <li><a title="Linkedin" href="http://www.linkedin.com/company/canopy-tech-ltd?trk=hb_tab_compy_id_2890219" rel="nofollow" target="_blank">
				<img alt="Linkedin" title="Linkedin" src="@Url.Content("~/images/linkedin.png")" /></a>
			    </li>
      	        <li><a title="Facebook" href="https://www.facebook.com/CanopyTechLtd" rel="nofollow" target="_blank">
				<img alt="Facebook" title="Facebook" src="@Url.Content("~/images/facebook.png")" /></a>
			    </li>
			    <li><a title="Twitter" href="https://twitter.com/CanopyTechLtd" rel="nofollow" target="_blank">
				<img alt="Twitter" title="Twitter" src="@Url.Content("~/images/twitter.png")" /></a>
			    </li>
            </ul>
	    </div>

	    <div class="col">

   	        <h3>Site Links</h3>

		    <div class="footer-list">
			    <ul>
				    <li>@Html.ActionLink("Login", "Index", "Home")</li>
				    <li>@Html.ActionLink("About", "About", "Home")</li>
				    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
				    <li>@Html.ActionLink("Administrators", "AdminLogin", "Account")</li>				    
			    </ul>
		    </div>
        </div>
          
    </div>
</div>
<!-- footer -->
<footer>

	<p class="footer-left">
		&copy;CanopyTech Ltd @DateTime.Now.Year | Privacy Policy | Cookie Policy | Contact Us
	</p>

	<p class="footer-right">
        <a href="#top" class="back-to-top">Back to Top</a>
    </p>

<!-- /footer -->
</footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>












