@model Canopy.Models.DecodedData

@using (Html.BeginForm()) {
    <fieldset>
        <legend>@Model.TableName</legend>

        <div class="accessBox">
            @Html.LabelFor(model => model.Username)
            @Html.EditorFor(model => model.Username)
            @Html.ValidationMessageFor(model => model.Username)
        </div>

        <div class="accessBox">
        <!--<div class="editor-label">-->
            @Html.LabelFor(model => model.Password)
        <!--</div>-->
        <!--<div class="editor-field">-->
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        <!--</div>-->
        </div>

        <div class="accessBox">
            @Html.LabelFor(model => model.ConfirmPassword)
            @Html.EditorFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>

        @Html.HiddenFor(model => model.TableName)

        <div class="accessBox">
            <input type="submit" value="Update" />
            <div class="accessBox2">
            <input type="submit" value="Unsubscribe" />
            </div>
        </div>
    </fieldset>
}
