<!-- extra -->
<div id="extra-wrap"><div id="extra" class="clearfix">

      <div class="col first">

		    <h3>Contact Info</h3>

		    <p>
		    <strong>Phone: </strong>+44(0)207 040 5224<br/>
		    <!--<strong>Fax: </strong>+123456789-->
		    </p>

		    <p><strong>Address: </strong>77 Chiswell St, London, Greater London EC1Y, UK</p>
            <p><strong>E-mail: </strong>info@canopytech.co.uk</p>
		    <!--<p>Want more info - go to our <a href="#">contact page</a></p>-->

            <h3>Social</h3>

            <ul class="subscribe-stuff">
      	        <li><a title="Linkedin" href="http://www.linkedin.com/company/canopy-tech-ltd?trk=hb_tab_compy_id_2890219" rel="nofollow">
				<img alt="Linkedin" title="Linkedin" src="@Url.Content("~/images/linkedin.png")" /></a>
			    </li>
      	        <li><a title="Facebook" href="https://www.facebook.com/CanopyTechLtd" rel="nofollow">
				<img alt="Facebook" title="Facebook" src="@Url.Content("~/images/facebook.png")" /></a>
			    </li>
			    <li><a title="Twitter" href="https://twitter.com/CanopyTechLtd" rel="nofollow">
				<img alt="Twitter" title="Twitter" src="@Url.Content("~/images/twitter.png")" /></a>
			    </li>
                <li><a title="Youtube" href="http://www.youtube.com/canopytech" rel="nofollow">
				<img alt="Youtube" title="Youtube" src="@Url.Content("~/images/youtube.png")" /></a>
			    </li>
            </ul>
	    </div>

	    <div class="col">

   	        <h3>Site Links</h3>

		    <div class="footer-list">
			    <ul>
				    <li><a href="index.html">Home</a></li>
				    <li><a href="index.html">About</a></li>
				    <li><a href="index.html">Contact</a></li>
				    <li><a href="index.html">Access</a></li>				    
			    </ul>
		    </div>
        </div>
          
       <!-- <div class="col">

            <h3>Recent Comments</h3>

	        <div class="recent-comments">
                <ul>
			        <li><a href="index.html" title="Comment on title">Whoa! This one is really cool...</a><br /> &#45; <cite>Erwin</cite></li>
			        <li><a href="index.html" title="Comment on title">Wow. This theme is really awesome...</a><br /> &#45; <cite>John Doe</cite></li>
			        <li><a href="index.html" title="Comment on title">Type your comment here...</a><br />&#45; <cite>Naruto</cite></li>
			        <li><a href="index.html" title="Comment on title">And don't forget this theme is free...</a><br /> &#45; <cite>Shikamaru</cite></li>
                    <li><a href="index.html" title="Comment on title">Just a simple reply test. Thanks...</a><br /> &#45; <cite>ABCD</cite></li>
			    </ul>
		    </div>

        </div>-->
    </div>
</div>
<!-- footer -->
<footer>

	<p class="footer-left">
		&copy; @DateTime.Now.Year Copyright Info &nbsp; &nbsp; &nbsp;
	</p>

	<p class="footer-right">
	   	<a href="index.html">Home</a> |
		<a href="index.html">Sitemap</a> |
		<a href="index.html">RSS Feed</a> |
        <a href="#top" class="back-to-top">Back to Top</a>
    </p>

<!-- /footer -->
</footer>

